<a href="https://colab.research.google.com/github/bukshalishah/Smart-City-Lab/blob/master/Admission_Prediction_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
df = pd.read_csv("Admission_Predict.csv")

In [3]:
df.head(3)

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72

[3 rows x 9 columns]

In [4]:
len(df.columns)

9

In [5]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [6]:
df.shape

(400, 9)

In [7]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [0]:
x = df[['GRE Score', 'TOEFL Score', 'University Rating',
            'SOP','LOR ', 'CGPA', 'Research']].values

y = df[['Chance of Admit ']].values

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=7)

# Linear Regression

In [0]:
model = LinearRegression()
model = model.fit(x_train, y_train)

In [0]:
y_predict = model.predict(x_test)

In [12]:
R2 = r2_score(y_test, y_predict)
RMSE = np.sqrt(mean_squared_error(y_test, y_predict))

print("R2: ", R2)
print("Root mean squared error", RMSE)
print("Coeff: " + str(model.coef_))
print("Y intercept:" + str(model.intercept_))

R2:  0.7897466355283682
Root mean squared error 0.06666444600608798
Coeff: [[ 0.00210896  0.00250245  0.0069564  -0.00726087  0.02529205  0.11850789
   0.02016652]]
Y intercept:[-1.3263534]

## Polynomial Regression

In [0]:
model = PolynomialFeatures(degree=4)
x_poly = model.fit_transform(x)
model.fit(x_poly, y)

reg2 = LinearRegression()
reg2.fit(x_poly, y)

predict = reg2.predict(x_poly)

In [14]:
R2 = r2_score(y, predict)
RMSE = np.sqrt(mean_squared_error(y, predict))

print("R2: ", R2)
print("Root mean squared error", RMSE)

R2:  0.9091579959804
Root mean squared error 0.04292870082822127